 html,body{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./fondo_juego.jpg") ; 
  background-repeat: no-repeat; 
  background-size: auto;
  background-position: center; 
  
}